@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(135deg, #111 , rgb(15, 15, 90));
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.grid .title {
  text-align: center;
  font-size: 30px;
}

.grid .title h1 {
  margin: 0;
}

.game-body {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
}

#p1,
#p2 {
  width:200px;
  height:300px;
}

.p1Info,
.p2Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#p1Name,
#p2Name {
  font-size: 30px;
}

#p1Health,
#p2Health {
  font-size: 50px;
}

.playerControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

.AttackDiv{
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
}

.HealDiv {
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
}

#attack {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #FFFF01;
  outline: none;
  cursor: pointer;

}

#heal {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #7DFFFF;
  outline: none;
  cursor: pointer;

}

.resulter {
  text-align: center;
}

#play {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border:none;
  background: #02cf02;
  outline: none;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

#result {
  font-size: 45px;
  color : #3dff3d;
}

#reset {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border:none;
  background: #FF8800;
  outline: none;
  color: white;
  cursor: pointer;
}

#reset:hover,
#play:hover {
  box-shadow: 1px 1px 5px rgb(216, 211, 211);
}
.resultContainer {
  display: grid;
  grid-template-rows: 60px auto;
}



@media only screen and (max-width: 600px) {
  
  .grid .title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .game-body {
    column-gap: 10px;
  }
  
  #p1,
  #p2 {
    width:140px;
    height:200px;
  }
  
  .p1Info,
  .p2Info {
    width: 150px;
  }
  
  #p1Name,
  #p2Name {
    font-size: 20px;
  }
  
  #p1Health,
  #p2Health {
    font-size: 40px;
  }
  
  .AttackDiv,
  .HealDiv {
    margin: 5px;
    height: 30px;
    width: 90px;
  }
  
  #play,
  #reset {
    height: 40px;
    width: 100px;
  }
  
  #result {
    font-size: 45px;
  }
  
}